/*-- scss:defaults --*/








/*-- scss:rules --*/

/* CUSTOM BLOCKS & ELEMENTS */

.intro {
  padding-left: 1rem;
  margin-bottom: 3rem;
  border-bottom: solid 1px;
}

div.blockquote {
  padding: .625rem 1.25rem;
  border-left-width: .25rem;
  border-left-style: solid;
  border-left-color: #e9ecef;
  ::before {
    content: "<chat-left-quote>";
  }
}


/* LABS */

.lab-novice:first-child::after,
.lab-junior:first-child::after,
.lab-middle:first-child::after,
.lab-senior:first-child::after,
.lab-expert:first-child::after
{
  display: block;
  width: fit-content;
  border: solid 1px;
  border-radius: .25rem;
  padding-top: 0;
  padding-bottom: .1rem;
  padding-left: .3rem;
  padding-right: .3rem;
  margin-top: .2rem;
  font-size: 1rem;
  font-variant-caps: all-small-caps;
}

.lab-novice:first-child::after { content: var(--lab-novice); background-color: #fef08a; }
.lab-junior:first-child::after { content: var(--lab-junior); background-color: #5eead4; }
.lab-middle:first-child::after { content: var(--lab-middle); background-color: #93c5fd; }
.lab-senior:first-child::after { content: var(--lab-senior); background-color: #d8b4fe; }
.lab-expert:first-child::after { content: var(--lab-expert); background-color: #fca5a5; }



/* CUSTOMIZE */
/* Customize theorems */

.theorem, .proof {
  border-width: 1px;
  border-style: solid;
  border-radius: 0.35rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  p {
    margin-bottom: 0;
  }
}


/* CALLOUTS */
/* Shared base */
/*
.callout.callout-style-default,
.callout.callout-style-simple,
.callout.callout-style-minimal {
  &.callout-history,
  &.callout-person,
  &.callout-dataset,
  &.callout-myth {
    border-radius: 0.5rem;
  }
}
*/

/* Default */
.callout-none {
  &.callout-style-default {
    .callout-header {
      background-color: lightgray !important;
    }
  }
  &.callout-style-simple {
    // none
  }
  .callout-toggle::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(33, 37, 41)" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  }
}

/* History */
.callout.callout-history {
  color: brown;
}

/* Person */
.callout.callout-person {
  color: orange;
}

/* Dataset */
.callout.callout-dataset {
  color: teal;
}

/* Myth */
.callout.callout-myth {
  color: purple;
}

/* Optional title tuning */
.callout.callout-myth .callout-title {
  font-weight: 700;
}
