/*-- scss:defaults --*/

$theme: "darkly" !default;

//
// Color system
//

// $white:    #fff !default;
// $gray-100: #f5f5f5 !default;
// $gray-200: #e6e6e6 !default;
// $gray-300: #b4b4b4 !default;
// $gray-400: #828282 !default;
// $gray-500: #4b4b4b !default;
// $gray-600: #4b4b4b !default;
// $gray-700: #1e1e1e !default;
// $gray-800: #050505 !default;
// $gray-900: #222 !default;
// $black:    #000 !default;

$blue:    #518EE8 !default;
$indigo:  #4A4BCE !default;
$purple:  #9C2EE8 !default;
$pink:    #FD88EF !default;
$red:     #FA9794 !default;
$orange:  #E5B477 !default;
$yellow:  #F0E790 !default;
$green:   #A3F09C !default;
$teal:    #9AEBC9 !default;
$cyan:    #9EF5FF !default;

$quiz-correct-background:   #0E5245 !default;
$quiz-correct-border:       #229A64 !default;
$quiz-incorrect-background: #4D0C02 !default;
$quiz-incorrect-border:     #9A2822 !default;



// Body

$body-bg:                   $gray-900 !default;
$body-color:                $white !default;
@function body-mix($weight) {
    @return mix($body-bg, $body-color, $weight);
}

$primary:       $blue !default;
$secondary:     body-mix(85%) !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
// This is inconsistent with Bootstrap semantics. That is, $dark
// should actually be a light color in a dark mode setting, :shrug:
// https://github.com/thomaspark/bootswatch/issues/989
$light:         body-mix(65%) !default;
$dark:          body-mix(95%) !default;

$min-contrast-ratio:   1.9 !default;


// Links

$link-color:                $teal !default;

// Fonts

// stylelint-disable-next-line value-keyword-case



// Mermaid

$mermaid-bg-color: $body-bg;
$mermaid-edge-color: $cyan;
$mermaid-fg-color: $body-color;
$mermaid-fg-color--lighter: lighten($body-color, 10%);
$mermaid-fg-color--lightest: lighten($body-color, 20%);
$mermaid-font-family: $font-family-sans-serif;
$mermaid-label-bg-color: $body-bg;
$mermaid-label-fg-color: $gray-200;
$mermaid-node-bg-color: $gray-700;
$mermaid-node-fg-color: $cyan;



// Tables

$table-border-color:          body-mix(85%) !default;

$table-bg-scale:              0% !default;

// Forms

$input-bg:                          $body-color !default;
$input-color:                       body-mix(95%) !default;
$input-border-color:                $body-bg !default;
$input-group-addon-color:           body-mix(65%) !default;
$input-group-addon-bg:              body-mix(85%) !default;
$input-placeholder-color:           body-mix(75%) !default;

$form-check-input-bg:                     $body-color !default;
$form-check-input-border:                 none !default;

$form-select-disabled-color:        body-mix(75%) !default;

$form-file-button-color:          $input-group-addon-color !default;
$form-file-button-bg:             $input-group-addon-bg !default;
$form-file-button-hover-bg:       darken($form-file-button-bg, 5%) !default;

// Dropdowns

$dropdown-bg:                       $body-bg !default;
$dropdown-border-color:             body-mix(85%) !default;
$dropdown-divider-bg:               body-mix(85%) !default;
$dropdown-link-color:               $body-color !default;
$dropdown-link-hover-color:         $body-color !default;
$dropdown-link-hover-bg:            $primary !default;

// Navs

$nav-link-padding-x:                2rem !default;
$nav-link-disabled-color:           body-mix(65%) !default;
$nav-tabs-border-color:             body-mix(85%) !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color $nav-tabs-border-color transparent !default;
$nav-tabs-link-active-color:        $body-color !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent !default;

// Navbar

$navbar-padding-y:                  1rem !default;
$navbar-dark-color:                rgba($body-color, .6) !default;
$navbar-dark-hover-color:          $body-color !default;
$navbar-light-color:                rgba($body-bg, .7) !default;
$navbar-light-hover-color:          $body-bg !default;
$navbar-light-active-color:         $body-bg !default;
$navbar-light-toggler-border-color: rgba($body-bg, .1) !default;

// Pagination

$pagination-color:                  $body-color !default;
$pagination-bg:                     $success !default;
$pagination-border-width:           0 !default;
$pagination-border-color:           transparent !default;
$pagination-hover-color:            $body-color !default;
$pagination-hover-bg:               lighten($success, 10%) !default;
$pagination-hover-border-color:     transparent !default;
$pagination-active-bg:              $pagination-hover-bg !default;
$pagination-active-border-color:    transparent !default;
$pagination-disabled-color:         $body-color !default;
$pagination-disabled-bg:            darken($success, 15%) !default;
$pagination-disabled-border-color:  transparent !default;

// Cards

$card-cap-bg:                       body-mix(85%) !default;
$card-bg:                           body-mix(95%) !default;

// Popovers

$popover-bg:                        body-mix(95%) !default;
$popover-header-bg:                 body-mix(85%) !default;

// Toasts

$toast-background-color:            body-mix(85%) !default;
$toast-header-background-color:     body-mix(95%) !default;

// Modals

$modal-content-bg:                  body-mix(95%) !default;
$modal-content-border-color:        body-mix(85%) !default;
$modal-header-border-color:         body-mix(85%) !default;

// Progress bars

$progress-bg:                       body-mix(85%) !default;

// List group

$list-group-color:                  $body-color !default;
$list-group-bg:                     body-mix(95%) !default;
$list-group-border-color:           body-mix(85%) !default;
$list-group-hover-bg:               body-mix(85%) !default;
$list-group-action-hover-color:     $list-group-color !default;
$list-group-action-active-bg:       $body-bg !default;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-bg:                     body-mix(85%) !default;
$breadcrumb-border-radius:          .25rem !default;

// Close

$btn-close-color:            $body-color !default;
$btn-close-opacity:          .4 !default;
$btn-close-hover-opacity:    1 !default;

// Code

$pre-color:                         inherit !default;



/*-- scss:rules --*/


// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// Headings

h1 {
  font-weight: $h1-font-weight;
}

h2, h3 {
  font-weight: $h2-font-weight;
}

// Typography

.blockquote {
  &-footer {
    color: body-mix(75%);
  }
}

// Forms

// @include color-mode(dark) {
  // .input-group-text {
    // color: $body-color;
  // }
// }

.form-floating {
  > label,
  > .form-control:focus ~ label,
  > .form-control:not(:placeholder-shown) ~ label {
    color: $input-placeholder-color;
  }
}

// Navs

.nav-tabs,
.nav-pills {
  .nav-link,
  .nav-link.active,
  .nav-link.active:focus,
  .nav-link.active:hover,
  .nav-item.open .nav-link,
  .nav-item.open .nav-link:focus,
  .nav-item.open .nav-link:hover {
    color: $body-color;
  }
}

.breadcrumb a {
  color: $body-color;
}

.pagination {
  a:hover {
    text-decoration: none;
  }
}

// Indicators

.alert {
  color: $body-color;
  border: none;

  a,
  .alert-link {
    color: $body-color;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value linear-gradient(180deg, mix($body-color, $value, 15%), $value) repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }
}

.tooltip {
  --bs-tooltip-bg: var(--bs-tertiary-bg);
  --bs-tooltip-color: var(--bs-emphasis-color);
}


// Custom

// Chapter


.theorem {
  border-color: $gray-600;
}

.proof {
  border-color: $gray-600;
}


code:not(.sourceCode) {
  color: $gray-100 !important;
  background-color: $gray-900 !important;
}

.cell-output code {
  color: $gray-200 !important;
  background-color: $gray-900 !important;
}

code.sourceCode a.code-annotation-anchor {
  color: $gray-200 !important;
  border-color: $gray-200 !important;
}

.intro {
  border-bottom-color: $gray-400 !important;
}

.quote {
  border-left-color: $gray-200;
  color: $gray-200;
}



// Quiz

form.quiz fieldset {
  background-color: $gray-700;
}

.remove-answer-button {
  background-color: $gray-700;
  border: 1px solid $gray-800;
  border-radius: 5px;
  color: $gray-300;
}

form.quiz div.submit-button {
  background-color: $gray-900;
}

form.quiz input.submit-button {
  background-color: $gray-700;
  border-color: $gray-200;
  color: $gray-100;
}

form.quiz input.submit-button[disabled],
form.quiz input.submit-button:hover[disabled] {
  background-color: $gray-900;
  color: $gray-800;
}

form.quiz input.submit-button:hover {
  background-color: $gray-800;
  color: $gray-200;
}

form.quiz input.submit-button:active {
  background-color: $gray-600;
}

form.quiz div.feedback {
  background-color: $gray-800;
}

form.quiz fieldset.correct {
  background-color: $quiz-correct-background;
  border-color: $quiz-correct-border !important;
}

form.quiz fieldset.incorrect {
  background-color: $quiz-incorrect-background;
  border-color: $quiz-incorrect-border !important;
}

form.quiz fieldset div.check-tick {
  content: url("img/labs/check_tick_dark.png");
}

form.quiz fieldset div.check-cross {
  content: url("img/labs/check_cross_dark.png");
}

.toc-correct {
  background-color: $quiz-correct-background !important;
}

.toc-incorrect {
  background-color: $quiz-incorrect-background !important;
}




// Sheet

.input-autocheck {
  background-color: $gray-700;
  color: $gray-200;
  border-color: $gray-800;
}

.button-autocheck {
  background-color: $gray-700;
  border-color: $gray-800;
  color: $gray-100;
}

.button-autocheck:hover {
  background-color: $gray-800;
  color: $gray-200;
}

.button-autocheck:active {
  background-color: $gray-600;
}

.button-autocheck[disabled],
.button-autocheck:hover[disabled] {
  background-color: $gray-900;
  color: $gray-800;
}

.hints {
  background-color: $gray-700;
  color: $gray-500;
}

.hints>summary {
  color: $gray-200;
}
