/*-- scss:defaults --*/

$theme: "flatly" !default;

//
// Color system
//

// $white:    #fff !default;
// $gray-100: #f5f5f5 !default;
// $gray-200: #e6e6e6 !default;
// $gray-300: #b4b4b4 !default;
// $gray-400: #828282 !default;
// $gray-500: #4b4b4b !default;
// $gray-600: #4b4b4b !default;
// $gray-700: #1e1e1e !default;
// $gray-800: #050505 !default;
// $gray-900: #222 !default;
// $black:    #000 !default;

$blue:    #3A48E6 !default;
$indigo:  #1D1D82 !default;
$purple:  #8335D2 !default;
$pink:    #EB316E !default;
$red:     #D33E36 !default;
$orange:  #E57E39 !default;
$yellow:  #D4C02C !default;
$green:   #35D250 !default;
$teal:    #2AA16B !default;
$cyan:    #2FCDE0 !default;

$quiz-correct-background:   #C2FFE3 !default;
$quiz-correct-border:       #229A64 !default;
$quiz-incorrect-background: #FFB3B0 !default;
$quiz-incorrect-border:     #E53B32 !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-700 !default;

$min-contrast-ratio:   2.05 !default;

// Links

$link-color:                $teal !default;

// Fonts

// stylelint-disable-next-line value-keyword-case



// Tables

$table-bg-scale:              0% !default;

// Dropdowns

$dropdown-link-color:               $gray-700 !default;
$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $primary !default;

// Navs

$nav-link-padding-y:                .5rem !default;
$nav-link-padding-x:                2rem !default;
$nav-link-disabled-color:           $gray-600 !default;
$nav-tabs-border-color:             $gray-200 !default;

// Navbar

$navbar-padding-y:                  1rem !default;
$navbar-light-bg:                   $primary !default;
$navbar-light-color:                $white !default;
$navbar-light-hover-color:          $success !default;
$navbar-light-active-color:         $success !default;
$navbar-light-brand-color:          $white !default;
$navbar-light-brand-hover-color:    $navbar-light-brand-color !default;


$navbar-dark-color:                 $white !default;
$navbar-dark-hover-color:           $primary !default;
$navbar-dark-active-color:          $primary !default;

$navbar-dark-brand-color:                 $white !default;
$navbar-dark-brand-hover-color:           $navbar-dark-brand-color !default;

// Pagination

$pagination-color:                  $white !default;
$pagination-bg:                     $success !default;
$pagination-border-width:           0 !default;
$pagination-border-color:           transparent !default;
$pagination-hover-color:            $white !default;
$pagination-hover-bg:               darken($success, 15%) !default;
$pagination-hover-border-color:     transparent !default;
$pagination-active-bg:              $pagination-hover-bg !default;
$pagination-active-border-color:    transparent !default;
$pagination-disabled-color:         $gray-200 !default;
$pagination-disabled-bg:            lighten($success, 15%) !default;
$pagination-disabled-border-color:  transparent !default;

// List group

$list-group-hover-bg:               $gray-200 !default;
$list-group-disabled-bg:            $gray-200 !default;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-border-radius:          .25rem !default;

// Close

$btn-close-color:            $white !default;
$btn-close-opacity:          .4 !default;
$btn-close-hover-opacity:    1 !default;

// Code

$pre-color:                         inherit !default;

/*-- scss:rules --*/


// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// Headings

h1 {
  font-weight: $h1-font-weight;
}

h2, h3 {
  font-weight: $h2-font-weight;
}

// Navbar

.bg-primary {
  .navbar-nav .show > .nav-link,
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: $success !important;
  }
}

// Navs

.nav-tabs {
  .nav-link.active,
  .nav-link.active:focus,
  .nav-link.active:hover,
  .nav-item.open .nav-link,
  .nav-item.open .nav-link:focus,
  .nav-item.open .nav-link:hover {
    color: $primary;
  }
}

.pagination {
  a:hover {
    text-decoration: none;
  }
}

// Indicators

.badge {
  &.bg-light {
    color: $dark;
  }
}

.alert {
  color: $white;
  border: none;

  a,
  .alert-link {
    color: $white;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value linear-gradient(180deg, mix($body-bg, $value, 15%), $value) repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }

  &-light {
    &,
    a,
    .alert-link {
      color: $body-color;
    }
  }
}

// Containers

.modal,
.toast,
.offcanvas {
  .btn-close {
    background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$black}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>"));
  }
}



// Custom

// Chapter

.intro {
  border-bottom-color: $gray-400 !important;
}

.theorem {
  border-color: $gray-400;
}

code {
  color: $gray-700;
  // background-color: $gray-800;
}

li.breadcrumb-item {
  &:before {
   color: #6c757d !important;
  }
}


// Quiz

form.quiz fieldset {
  background-color: $gray-100;
}

.remove-answer-button {
  background-color: $gray-100;
  border: 1px solid $gray-300;
  border-radius: 5px;
  color: $gray-700;
}

form.quiz input.submit-button {
  background-color: $gray-100;
  color: $black;
}

form.quiz input.submit-button[disabled],
form.quiz input.submit-button:hover[disabled] {
  background-color: $gray-200;
  color: $gray-500;
}

form.quiz input.submit-button:hover {
  background-color: $gray-300;
}

form.quiz input.submit-button:active {
  background-color: $gray-400;
}

form.quiz div.feedback {
  background-color: $gray-200;
}

form.quiz fieldset.correct {
  background-color: $quiz-correct-background;
  border-color: $quiz-correct-border !important;
}

form.quiz fieldset.incorrect {
  background-color: $quiz-incorrect-background;
  border-color: $quiz-incorrect-border !important;
}

form.quiz fieldset div.check-tick {
  content: url("img/labs/check_tick_light.png");
}

form.quiz fieldset div.check-cross {
  content: url("img/labs/check_cross_light.png");
}

.toc-correct {
  background-color: $quiz-correct-background !important;
}

.toc-incorrect {
  background-color: $quiz-incorrect-background !important;
}




// Sheet

.input-autocheck {
  background-color: $gray-100;
  border-color: $gray-800;
}

.button-autocheck {
  background-color: $gray-100;
  color: $black;
  border-color: $gray-800;
}

.button-autocheck:hover {
  background-color: $gray-300;
}

.button-autocheck:active {
  background-color: $gray-400;
}

.hints {
  background-color: $gray-100;
  padding: 1% 3%;
  border-radius: 10px;
  font-size: $hint-font-size;
  color: $gray-700;
}

.hints>summary {
  color: $gray-700;
  padding-top: 1%;
  padding-bottom: 1%;
}

.hint {
  font-weight: $hint-font-weight;
  padding-left: 3%;
}

.hint>summary {
  font-weight: $h2-font-weight;
  color: $gray-700;
}

.feedback-autocheck.empty {
  color: $blue;
}

.feedback-autocheck.incorrect {
  color: $red;
}

.feedback-autocheck.correct {
  color: $teal;
}
