/*-- scss:defaults --*/








/*-- scss:rules --*/

/* CUSTOM BLOCKS & ELEMENTS */

.intro {
  padding-left: 1rem;
  margin-bottom: 3rem;
  border-bottom: solid 1px;
}

div.blockquote {
  padding: .625rem 1.25rem;
  border-left-width: .25rem;
  border-left-style: solid;
  border-left-color: #e9ecef;
  ::before {
    content: "<chat-left-quote>";
  }
}


/* LABS */

.lab-novice:first-child::after,
.lab-junior:first-child::after,
.lab-middle:first-child::after,
.lab-senior:first-child::after,
.lab-expert:first-child::after
{
  display: block;
  width: fit-content;
  border: solid 1px;
  border-radius: .25rem;
  padding-top: 0;
  padding-bottom: .1rem;
  padding-left: .3rem;
  padding-right: .3rem;
  margin-top: .2rem;
  font-size: 1rem;
  font-variant-caps: all-small-caps;
}

.lab-novice:first-child::after { content: var(--lab-novice); background-color: #fef08a; }
.lab-junior:first-child::after { content: var(--lab-junior); background-color: #5eead4; }
.lab-middle:first-child::after { content: var(--lab-middle); background-color: #93c5fd; }
.lab-senior:first-child::after { content: var(--lab-senior); background-color: #d8b4fe; }
.lab-expert:first-child::after { content: var(--lab-expert); background-color: #fca5a5; }



/* CUSTOMIZE */
/* Customize theorems */

.theorem, .proof {
  border-width: 1px;
  border-style: solid;
  border-radius: 0.35rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  p {
    margin-bottom: 0;
  }
}
