project:
  type: book
  output-dir: _book

metadata-files:
  - _metadata.yml

book:
  title: "WLM SDARP"
  # language: ru
  subtitle: "World of Linear Models: Statistics & Data Analysis in R for Psychologists"
  author: 
    - name: "Anton Angelgardt"
      email: "anton.angelgardt@gmail.com"
  version: "0.0.1"
  date: today
  
  chapters:
    - index.qmd
    - common-intro.qmd
    - common-signs.qmd
    - part: Debug
      chapters: 
      - debug_chapter.qmd
      - debug_quiz.qmd
      - debug_sheet.qmd
    - part: part-r.qmd
      chapters:
      - r-intro.qmd
      - r-data.qmd
    - part: part-math.qmd
      chapters: 
        - math-logic.qmd
    - part: part-measures.qmd
    - part: part-desc.qmd
      chapters:
      - desc-statintro.qmd
    - part: part-prob.qmd
      chapters: 
        - prob-prob.qmd
    - part: part-andan.qmd
    - common-outro.qmd
    - references.qmd
  appendices:
    - appendix-numbers.qmd
    - appendix-numbers-iron.qmd
    - appendix-strings-iron.qmd
    - appendix-memory-iron.qmd
    - appendix-proglang.qmd
    - appendix-formulas.qmd
    - appendix-git.qmd
    - appendix-research-design.qmd
    - appendix-design.qmd
    - appendix-other-math.qmd
    - appendix-math-letters.qmd
    - appendix-keys.qmd
    
  favicon: img/other/favicon.png

bibliography: references.bib
csl: style/refs/apa.csl

comments:
  hypothesis: true

highlight-style: 
  light: style/theme/light.theme
  dark: style/theme/dark.theme

format:
  html:
    title-block-banner: img/other/title-block-banner.jpg
    title-block-banner-color: "#f5f5f5"
    toc: true
    toc-depth: 4
    grid: 
      body-width: 900px
      sidebar-width: 210px
      margin-width: 210px
    cover-image: img/other/cover.jpg
    cover-image-alt: |
      Тут должна быть обложка книги, но что-то пошло не так...
    theme:
      light: [style/css/light.scss, style/css/common.scss]
      dark: [style/css/dark.scss, style/css/common.scss]
    code-overflow: wrap

editor: source
